NODE_ENV=development
PORT=4000

# Postgres connection (matches docker-compose service name "user-db" later)
DATABASE_URL=postgresql://user_service:user_service_pass@localhost:5432/user_service_db?schema=public

JWT_ACCESS_SECRET=replace_with_strong_access_secret
JWT_REFRESH_SECRET=replace_with_strong_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10
